<!DOCTYPE html>
{% load static %}
<html>
<head>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Log In">
    </form>
</body>
</html>
